@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@using X.PagedList;
@using SvetulkaApp.Web.Areas.Administration.ViewModels.Products

@*@model IPagedList<SvetulkaApp.Data.Models.Product>*@
@model IPagedList<SvetulkaApp.Web.ViewModels.Products.AllProductsViewModel>

@{
    this.ViewData["Title"] = "Products";
}
<link rel="stylesheet" href="~/css/allproducts.css" />
<div class="container">
    <h1>Shop</h1>
    <div class="card-columns">
        @foreach (var product in Model)
        {
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title">@product.Name</h4>
                    <h6 class="card-subtitle text-muted">@product.Id</h6>
                </div>
                <img src="@product.ImageUrl">
                <div class="card-body">
                    <p class="card-text">@product.Description</p>
                </div>
                <div class="card-footer">
                    <p class="card-btns">$@product.Price</p>
                    @*<a id="load-partial" class="card-btns card-link" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">Details</a>*@
                    <a href="javascript:void(0);" class="anchorDetail" data-id="@product.Id">Details</a>
                    <a asp-controller="Favorites" asp-action="Add" asp-route-id="@product.Id" class="card-btns card-link"><i class="fas fa-heart fa-md favs"></i></a>
                    <a class="card-btns card-link" asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@product.Id"><i class="fas fa-shopping-bag fa-md cart"></i></a>
                </div>
            </div>
        }
    </div>
</div>

<div id="myModal" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" id="myModalContent">
        </div>
    </div>

</div>

@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/modal.js"></script>
}  