@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@using X.PagedList;
@using SvetulkaApp.Web.Areas.Administration.ViewModels.Products

@*@model IPagedList<SvetulkaApp.Data.Models.Product>*@
@model IPagedList<SvetulkaApp.Web.ViewModels.Products.AllProductsViewModel>

@{
    this.ViewData["Title"] = "Products";
}
<link rel="stylesheet" href="~/css/allproducts.css" />
<div class="container">
    <h1>Shop</h1>
    <div class="card-columns">
        @foreach (var product in Model)
        {
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title">@product.Name</h4>
                    <h6 class="card-subtitle text-muted">@product.Id</h6>
                </div>
                <img src="@product.ImageUrl">
                <div class="card-body">
                    <p class="card-text">@product.Description</p>
                </div>
                <div class="card-footer">
                    <p class="card-btns">@product.Price bgn</p>
                    <a id="load-partial" class="card-btns card-link" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">Details</a>
                    <a asp-controller="Favorites" asp-action="Add" asp-route-id="@product.Id" class="card-btns card-link">fav</a>
                    <a class="card-btns card-link" asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@product.Id">Add to cart</a>
                </div>
            </div>
        }
    </div>
</div>

@*data-toggle="modal" data-target=".bd-example-modal-lg"*@

@*@Html.Partial("_DetailsPartial.cshtml", new DetailsProductViewModel { Price = 3, Description = "hello" })*@
@*<partial name="_DetailsPartial" model="new DetailsProductViewModel { Price = 3 }" />*@